@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Подвал закрепляем */
html {
  height: 100%;
}

body {
  /*display: flex;
  flex-direction: column;*/
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
  padding: 0;
  margin: 0;
}

/* Оптимизация изображений */
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

/* Главный блок - Main containrt Main-inner */
.main-container {
  flex-grow: 1;
}

.main-inner {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px #00000033;
  margin-left: auto;
  margin-right: auto;
}

/* Меню страницы - Page-header */
.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 64px;
  color: #000000;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  position: absolute;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  width: 1090px;
  padding-left: 184px;
}

.navigation-list {
  display: flex;
  align-items: center;
  width: 339px;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 32px;
}

.navigation-link {
  width: 24px;
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
  padding-bottom: 18px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*min-width: 268px;*/
  margin-left: auto;
  align-items: center;
  width: 245px;
}

.navigation-link.loopa {
  position: relative;
}

.navigation-link.loopa::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/catalog/loopa.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.navigation-link.liked {
  position: relative;
}

.navigation-link.liked::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../images/catalog/heart.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.likes-number {
  position: relative;
  height: 20px;
  min-width: 20px;
  padding: 5px;
  bottom: 14px;
  left: 8px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  text-align: center;
}

.navigation-link.button {
  width: 160px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756157;
}


/* Первый экран - First */
.first {
  /*min-height: 485px;*/
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/divider.png"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  padding-top: 51px;
  padding-bottom: 82px;
}

.first .first-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}



/* Преимущества - Advantages */

.advantages-header {
  padding: 69px 258px;
}

.advantages-header .advantages-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-block: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.advantages-header .advantages-text {
  text-align: center;
  margin-block: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.advantages-list {
  /* на гридах */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  /*width: 400px;
  width: calc(100% / 3);*/
  height: 100%;
  min-height: 385px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  background-color: #83B3D333;
  padding: 115px 83px 96px;
}

.advantages-item.advantages-light {
  background-color: #83B3D31F;
}

.advantages-item.advantages-dark {
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;*/
  grid-column: 1 / -1;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color:#ffffff;
  background-color: #82B3D3;
  padding: 0;
}

.advantages-wrap {
  width: calc(100% / 3);
  padding: 103px 85px;
}

.advantages-subtitle {
  /*width: 175px;*/
  position: relative;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 60px;
}

.advantages-subtitle::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 60px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0000004D;
}

.advantages-dark .advantages-subtitle::after {
  background-color: #FFFFFF4D;
}

.advantages-list-text {
  margin-block: 0;
  padding: 0;
}



/* Welcome */
.welcome {
  text-align: center;
}

.welcome-header {
  padding: 64px 258px;
}

.welcome-header .welcome-title {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.welcome-header .welcome-text {
  margin: 0 auto;
}

.welcome-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.welcome-subtitle {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-block: 0;
  margin-bottom: 30px;
}

.welcome-item {
  position: relative;
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 80px;
}

.welcome-item .welcome-subtitle::before {
  position: absolute;
  content: '';
  height: 75px;
  width: 72px;
  background-repeat: no-repeat;
  background-size: contain;
  top: calc(-75px - 25px);
  left: 50%;
  transform: translateX(-50%);
}

.welcome-item.welcome-home .welcome-subtitle::before {
  background-image: url("../images/home.svg");
}

.welcome-item.welcome-food .welcome-subtitle::before {
  background-image: url("../images/food.svg");
}

.welcome-item.welcome-present .welcome-subtitle::before {
  background-image: url("../images/present.svg");
}

.welcome-item .welcome-description {
  font-size: 18px;
  line-height: 21px;
  margin-block: 0;
}

.welcome-item:nth-child(odd) {
  background: #83B3D31F;
}



/* Search */
.search {
  padding: 96px 258px;
  text-align: center;
}

.search .search-title  {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto 20px;
}

.search .search-text {
  margin: 0 auto 52px;
}

.search button.search-button {
  font-family: inherit;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  margin: 0 auto 0;
}


/* Подпишись - Subscribe */
.subscribe.subscribe-index {
  background-image: url("../images/background-image.jpeg");
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe.subscribe-index .subscribe-title {
  color: #ffffff;
}

.subscribe.subscribe-index .subscribe-text {
  color: #ffffff;
}



/* Подвал - Footer */
.page-footer {
  display: flex;
  align-items: center;
  padding: 42px 70px;
}

.page-footer .social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 170px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list .social-vk {
  display: block;
  width: 47px;
  height: 40px;
  padding: 0 10px;
  background-image: url("../images/social-vk.svg");
  background-size: 24px 14px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-list .social-telegram {
  display: block;
  width: 47px;
  height: 40px;
  padding: 0 10px;
  background-image: url("../images/social-telegram.svg");
  background-size: 18px 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-list .social-youtube {
  display: block;
  width: 47px;
  height: 40px;
  padding: 0 10px;
  background-image: url("../images/social-youtube.svg");
  background-size: 22px 17px;
  background-position: center;
  background-repeat: no-repeat;
}



.page-footer a.contact {
  width: 720px;
  height: 50px;
  padding: 6px 166px 5px 195px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.page-footer a.contact {
  text-decoration: none;
  color: #000000;
}

.page-footer a.htmlacademy-logo {
  width: 170px;
  text-align: right;
}


/* КАТАЛОГ - CATALOG */
.search-inner {
  background-image: url("../images/catalog/catalog_background.jpeg");
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 35px 70px 70px;
  /* gap: 10px; */
}

.inner-header .inner-header-title {
  width: 495px;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
  margin-block: 0;
  margin-bottom: 8px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
}

.breadcrumbs-list .breadcrumbs-home {
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../images/catalog/home-catalog.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0 0 2px 0;
}

.breadcrumbs-list .breadcrumbs-catalog {
  position: relative;
  display: block;
  height: 21px;
  width: 73px;
  align-self: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #ffffff;
  padding-left: 28px;
}

.breadcrumbs-list .breadcrumbs-catalog::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 20px;
  top: 50%;
  left: 11px;
  transform: translateY(-50%);
  background-image: url("../images/catalog/strelka-catalog.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


/* Фильтры */
.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

.catalog-filter-group {
  display: block;
  width: 150px;
  height: 157px;
  color: #ffffff;
  border: none;
  padding: 0;
  margin: 0;
  border: none;
}

.catalog-filter-infrastructure {
  margin-right: 0px;
}

.catalog-filter-type {
  margin-right: 70px;
}

.catalog-filter-price {
  width: 288px;
  height: 162px;
  margin-right: 32px;
}

.catalog-filter-group .catalog-filter-title {
  width: 150px;
  height: 24px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-block: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
}


/* Фильтр по типам */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.control:hover .control-mark {}

.control-input:disabled + .control-mark {}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked ~ .control-mark::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 19px;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  background-image: url("../images/catalog/Vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before,
.control-input[type="radio"]:checked ~ .control-mark::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-label {
  position: relative;
  display: block;
  cursor: pointer;
}


.button-filter {
  display: flex;
  flex-direction: column;
  width: 191px;
  height: 104px;
  gap: 10px;
}

.filter-button {
  width: 191px;
  height: 36px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.active-filter-button {
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.reset-filter-button {
  background-color: transparent;
}


/* Фильтр по стоимости */
.catalog-filter-group.catalog-filter-price {
  margin: 0;
  padding: 0;
}

.price-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2px;
  width: 288px;
  margin-bottom: 46px;
}

.price-label {
  position: relative;
}

.price-label-text {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
  color: #000000;
  opacity: 0.3;
}

.price-input {
  width: 143px;
  height: 48px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  appearance: textfield;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price-input.min-price {
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
}

.price-input.max-price {
  border-radius: 0 4px 4px 0;
  padding: 12px 20px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #929090;
  margin-bottom: 8px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #3F5E72;
}

.range-toggle: active,
.range-toggle:focus {
  outline: 3px solid #3F5E72;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}



/* Итоги поиска */
.catalog {
  padding: 50px 70px 44px;
}

.catalog-search-group .catalog-text {
  display: block;
  width: 338px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin-block: 0;
}

.catalog-search-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-select {
  width: 292px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  appearance: none;
  background-image: url("../images/catalog/catalog-arrow.svg");
  background-repeat: no-repeat;
  background-position: 260px 21px;
  background-size: 12px 7px;
  cursor: pointer;
  margin-left: 128px;
}


.catalog-select:hover,
.catalog-select:focus {
  border-color: #3F5E72;
}

.catalog-select:focus {
  outline: 2px solid #3F5E72;
}




.calatog-view-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
}

.link-view-item {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.link-view-item.catalog-view-cards {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../images/catalog/catalog-filter-cards.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  padding: 14px 12px;
}

.link-view-item.catalog-view-one {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../images/catalog/catalog-filter-one.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  padding: 14px 12px;
}

.link-view-item.catalog-view-list {
  display: block;
  width: 48px;
  height: 48px;
  background-image: url("../images/catalog/catalog-filter-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  padding: 14px 12px;
}

.link-view-item.catalog-view-selected {
  border: 2px solid #000000;
  border-radius: 4px;
}

.catalog-list {
  /* на гридах*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-columns: repeat(3, 340px);*/
  align-content: start;
  justify-content: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  grid-gap: 20px;
  border-bottom: 1px solid #E6E6E6;
}

.catalog-item {
  /* на гридах */
  display: grid;
  grid-template-columns: repeat(2, 140px);
  /* если название в карточке на несколько строк */
  grid-template-rows: 1fr;
  gap: 16px 20px;

  width: 340px;
  min-height: 438px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.catalog-item .catalog-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.card-image {
  width: 100%;
  height: 212px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  margin-block: 0;
}

.card-description {
  width: 140px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #000000;
  margin-block: 0;
}

.card-price {
  width: 140px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #000000;
  margin-block: 0;
}

.button {
  display: block;
  width: 140px;
  height: 36px;
  padding: 8px 6px;
  border-radius: 4px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.card-button-link {
  background-color: #756157;
  margin-right: 10px;
}

.card-button {
  background-color: #82B3D3;
}

.card-button.hotel-card-like {
  background-color: #7DB54F;
}

.card-stars {
  position: relative;
  width: 140px;
  height: 37px;
  background-color: transparent;
  margin-block: 0;
}

.card-stars::before {
  position: absolute;
  content: '';
  height: 17px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url("../images/catalog/star.svg");
  background-repeat: space no-repeat;
  background-position: left center;
  background-size: 18px 17px;
}

.card-stars.one-stars::before {
  width: 17px;
}

.card-stars.two-stars::before {
  width: 42px;
}

.card-stars.three-stars::before {
  width: 62px;
}

.card-stars.four-stars::before {
  width: 84px;
}

.card-stars.five-stars::before {
  width: 106px;
}


.card-rate {
  width: 140px;
  height: 37px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  padding-top: 9px;
  margin-block: 0;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: baseline;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 38px 0 0;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: inherit;
  text-decoration: none;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
  border-radius: 4px;
  padding: 11px 0 13px 0;
}

.pagionation-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-more {
  display: block;
  width: 60px;
  height: 60px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  border-radius: 4px;
}


/* Подпишись в catalog - Subscribe-catalog */
.subscribe {
  background-color: #ffffff;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscribe .subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 21px;
}

.subscribe .subscribe-text {
  text-align: center;
  color: inherit;
  margin: 0 auto 54px;
}

.subscribe-form {
  display: flex;
  height: 52px;
  width: 684px;
  flex-grow: 1;
  margin: 0;
}

.subscribe-form input {
  width: 452px;
  height: 52px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
  text-align: left;
  padding: 12px 20px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #F2F2F2;


}

.subscribe-form input:hover,
.subscribe-form input:focus,
.subscribe-form button:hover,
.subscribe-form button:focus {
  border-color: #3F5E72;
}

.subscribe-form input:focus,
.subscribe-form button:focus {
  outline: 2px solid #3F5E72;
}


/* Hover, Focus */
.field:hover,
.field:focus {
  border-color: #3F5E72;
}

.field:focus {
  outline: 2px solid #3F5E72;
}

/* Disabled */
.field:disabled,
.field:disabled:hover {
  color: #595959;
  background-color: #E5E5E5;
  border-color: #3F5E72;
}

/* Invalid */
.field:invalid {
  box-shadow: none;
}

.field:focus:invalid {
  border-color: #ea5454;
}


.subscribe-form button {
  font-family: inherit;
  width: 232px;
  height: 52px;
  left: 452px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  border: none;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}


/* Field */
.field {
  margin: 0;
  padding: 8px 14px;
  font: inherit;
  font-weight: 700;
  background-color: #ffffff;
  border: 2px solid #3F5E72;
}
