@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  background-color: #f2f2f2;
  color: #333333;
  padding: 0;
  margin: 0;
}

/* Главный блок - Main-inner */
.main-inner {
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px #00000033;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  /*visibility: hidden;*/
  display: none;
}

/* Меню страницы - Page-header*/
.page-header {
  display: flex;
  height: 64px;
  color: #000000;
  padding: 0 70px;
}

.navigation-item {
  list-style: none;
  display: inline-block;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  color: inherit;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}

li.navigation-item a span.likes-number {
  position: relative;
  display: block;
  height: 20px;
  min-width: 20px;
  top: 11px;
  left: 20px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 10px;
  text-align: center;
}

.navigation-link.button {
  width: 160px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756157;
  /*gap: 10px;*/
}


/* Первый экран - First */
.first {
  height: 485px;
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/divider.png"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  text-align: center;
}

.first .first-image {
  width: 458px;
  height: 352px;
  padding-top: 51px;
  /* второй вариант
  display: block;
  margin-left: auto;
  margin-right: auto;*/
}

/* Преимущества - Title */
.advantages {
  text-align: center;
}

.advantages-header {
  height: 261px;
  padding: 69px 0;
  /*gap: 25px;*/
}

.advantages-header .advantages-title {
  width: 620px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.advantages-header .advantages-text {
  width: 651px;
  margin: 25px auto 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: inherit;
}

.advantages-item {
  width: 400px;
  height: 385px;
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  text-align: center;
  background-color: #83B3D333;
  padding: 103px 85px;
  /*gap: 10px;*/
}

.advantages-item.advantages-light {
  background-color: #83B3D31F;
}

.advantages-item.advantages-dark {
  color:#ffffff;
  background-color: #82B3D3;
}

.advantages-item:first-child {
  position: relative;
  width: 100%;
  padding-right: calc(100% + 85px - 400px);
}

.advantages-item:first-child img {
  position: absolute;
  top: 0;
  right: 0;
}

.advantages-item:last-child {
  position: relative;
  width: 100%;
  padding-left: calc(100% + 85px - 400px);*/
}

.advantages-item:last-child img {
  position: absolute;
  top: 0;
  left: 0;
}

.advantages-subtitle {
  width: 175px;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 60px;
}

.advantages-subtitle::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 60px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0000004D;
}

.advantages-dark .advantages-subtitle::after {
  background-color: #FFFFFF4D;
}

/* Welcome */
.welcome {
  text-align: center;
}

.welcome-header {
  height: 246px;
  padding: 64px 0;
  /*gap: 20px;*/
}

.welcome-header .welcome-title {
  width: 505px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
}

.welcome-header .welcome-text {
  width: 490px;
  margin: 20px auto 0;
}

.welcome-list {
  display: flex;
  flex-wrap: wrap;
  padding: inherit;
}

.welcome-subtitle {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.welcome-list {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space-between;
}

.welcome-item {
  position: relative;
  list-style: none;
  width: 400px;
  height: 385px;
  padding: calc(80px + 75px + 30px) 85px 80px;
}

.welcome-item .welcome-subtitle::before {
  position: absolute;
  content: '';
  height: 75px;
  width: 72px;
  background-repeat: no-repeat;
  background-size: contain;
  top: calc(-75px - 30px);
  left: 50%;
  transform: translateX(-50%);
}

.welcome-item.welcome-home .welcome-subtitle::before {
  background-image: url("../images/home.svg");
}

.welcome-item.welcome-food .welcome-subtitle::before {
  background-image: url("../images/food.svg");
}

.welcome-item.welcome-present .welcome-subtitle::before {
  background-image: url("../images/present.svg");
}

.welcome-item .welcome-description {
  font-size: 18px;
  line-height: 21px;
}

.welcome-item:nth-child(odd) {
  background: #83B3D31F;
}



/* Search */
.search {
  padding: 96px 304px;
  text-align: center;
  /*gap: 10px; */
}


.search .search-title  {
  width: 297px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
}

.search .search-text {
  width: 592px;
  margin: 20px auto 52px;
}

.search button.search-button {
  font-family: inherit;
  width: 376px;
  height: 52px;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  margin: 0 auto 0;
}


/* Подпишись - Subscribe */
.subscribe {
  background-image: url("../images/background-image.jpeg");
  background-color: #82B3D3;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 96px 258px 104px 258px;
  /* gap: 10px; */
}

.subscribe .subscribe-title {
  width: 406px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

.subscribe .subscribe-text {
  width: 475px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin: 20px auto 54px;
}

.subscribe-form {
  display: flex;
  height: 52px;
  width: 684px;
}

.subscribe-form input {
  width: 452px;
  height: 52px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 12px 20px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  background-color: #F2F2F2;
  /*gap: 260px;*/
}

.subscribe-form button {
  font-family: inherit;
  width: 232px;
  height: 52px;
  left: 452px;
  padding: 8px 50px;
  border-radius: 0px 4px 4px 0px;
  border: none;
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}


/* Подвал - Footer */
.page-footer {
  display: flex;
  flex-direction: row;
  height: 120px;
  padding: 40px 70px;
}

.page-footer .social-list {
  list-style: none;
}

.page-footer ul li:nth-child(1) {
  width: 142px;
  height: 40px;
}


.page-footer a.contact {
  width: 720px;
  height: 50px;
  padding: 5px 194px 5px 195px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.page-footer a.contact {
  text-decoration: none;
  color: #000000;
}







.title { /* создаём жирный заголовок */
  font-weight: 700;
}

.text-italic { /* создаём наклонный текст */
  font-style: italic;
}

.text-bold-italic { /* создаём жирный наклонный текст */
  font-style: italic;
  font-weight: 700;
}


.item {
  margin-bottom: 20px;
}

.item:last-child {
  margin-bottom: 0;
}

/*.item:not(:last-child) {
  margin-bottom: 20px;
}*/
